html, body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  color: #111827;
  font-family: 'Inter', ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
  font-optical-sizing: auto;
}
